/.vscode

/Logs

/MonoBleedingEdge

/Library

/Temp

/Assets/Save.txt

/Assets/Pre-traned.txt

/Assets/StremingAssets

/Game.apk

/NeuralNetwork.sln

/Neural Network_Data

/Mutation Neural Network_Data